<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: #bee3f8; font-family: Arial, sans-serif;">
  <div style="margin: 0 auto; max-width: 80%; background-color: #ffffff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <!-- Blue Line -->
    <div style="height: 2px; background-color: #60a5fa;"></div>

    <!-- Subject -->
    <div style="padding-top: 1.5rem; text-align: center;">
      <h1 style="font-size: 1.5rem; font-weight: 600; color: #1a4c92;">Admin registration</h1>
    </div>

    <!-- Email Content -->
    <div style="padding-left: 2.5rem; padding-right: 2.5rem; padding-top: 0.5rem; padding-bottom: 1.5rem;">
      <p style="margin-top: 1rem; color: #4b5563;">Scan the QR code below in <a style="text-decoration: underline;" href="https://github.com/jsfraz/whisper">Whisper app</a> to create an admin account.</p>
      <img style="margin-top: 0.5rem; height:8rem" src="data:image/png;base64,{{ qrBase64 }}">
      <p style="margin-top: 1rem; color: #4b5563;">The QR code is valid until <strong>{{ validUntil }}</strong>. If you do not create admin account before the invitation expires, you must restart Whisper server in order to resend this e-mail to create admin account.</p>
    </div>

    <!-- Footer with darker color -->
    <div
      style="padding-top: 0.5rem; padding-bottom: 0.5rem; background-color: #1a4c92; color: #ffffff; text-align: center;">
      <p style="font-size: 0.8rem;">{{ footer }}</p>
    </div>
  </div>
</body>

</html>